@keyframes pulsate {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}

.pulsating-icon {
  animation: pulsate 0.75s 3;
}

.react-joyride__beacon {
  width: 30px !important;
  height: 30px !important;
}

.accordion-icon {
  transition: transform 0.3s ease;
}
