dialog::backdrop {
  background: rgba(0, 0, 0, 0.75);;
}

.companion-dialogue,
.email-dialogue {
  @apply w-11/12 md:w-1/2 bg-white shadow-lg max-w-3xl outline-0 rounded-lg dark:bg-gray-700 dark:text-white;
}

.companion-dialogue-content,
.email-dialogue-content {
  @apply px-6 pt-8 pb-6;
}

.companion-dialogue-content h2,
.email-dialogue-content h2 {
  @apply flex flex-row gap-3 items-center;
  color: #4a4a4a;
}

.companion-dialogue-content p,
.email-dialogue-content p {
  @apply text-base md:text-xl dark:text-white;
  color: #4a4a4a;
}

label[for="expectedInteviewSteps"] {
  @apply py-1 pr-2;
}

datalist {
  @apply flex justify-between;
}

#expectedInteviewSteps {
  @apply border-solid border-2 border-[#e6e6e6] rounded-lg w-24 pl-2 py-1;
}

input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
}

input::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
}

.companion-dialogue-config {
  @apply flex flex-row align-middle mt-6 mb-3;
}

.companion-dialogue-config input {
  @apply ml-1 border-solid border-2 border-[#e6e6e6] rounded-lg;
}

.companion-dialogue-buttons {
  @apply flex flex-row justify-end gap-4 px-6 pt-4 pb-8;
}

.companion-dialogue-buttons button {
  @apply dark:text-gray-100 dark:border-white;
}

.email-dialogue-form {
  @apply flex flex-col px-6 pb-8 w-full;
}

.close-icon {
  @apply w-7 h-7 cursor-pointer
}

.close-icon path {
  @apply dark:!text-gray-100;
}
