#root {
  @apply flex flex-col
  bg-gradient-to-b from-[#ffffff] from-15% to-[#edf7fc] dark:from-slate-700 dark:to-slate-800 dark:bg-slate-700
  min-h-screen gap-10;
}

#root {
  @apply dark:!bg-gray-800 dark:!text-gray-100;
}

#root {
  font-family: "Lato", sans-serif;
}

#root .header {
  @apply min-h-14 mt-10 pt-2 md:pt-3 pb-2 flex items-center;
}

#root .header-container {
  @apply flex flex-row justify-between container items-center pr-4 max-w-[1280px] mx-auto pb-1;
}

#root .connection-status {
  @apply text-white text-sm;
}

#root .container,
#root .chat-input,
#root .final-report {
  @apply max-w-[1280px] mx-auto;
}

#root .question {
  @apply text-2xl md:text-4xl mt-4 mb-8 flex flex-row px-0 text-[#4a4a4a];
}

#root .question svg,
#root .question-answer svg {
  @apply block min-w-8 h-8 fill-[#0084d7];
}

#root .suggestions {
  @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4 pt-4 lg:pt-5 px-3 mb-4;
}

#root .suggestion {
  @apply flex flex-col items-start p-4 text-lg md:text-xl cursor-pointer text-[#4a4a4a] hover:text-[#0084d7]
    border border-[#a6a6a6] hover:border-[#0084d7] transition duration-200 justify-between gap-8;
}

#root .suggestion.active {
  @apply border-[#0084d7] text-[#0084d7] bg-[#0084d717] dark:bg-[#0084d717];
}

#root .suggestion.has-report .suggestion-text,
#root .suggestion.has-report .suggestion-title,
.not-editable-warning {
  @apply text-gray-400 dark:text-gray-400 cursor-text;
}

#root .not-editable-warning {
  @apply ml-3 font-bold;
}

#root .suggestion .suggestion-img {
  @apply flex flex-row w-full;
}

#root .suggestion .suggestion-img svg path {
  @apply dark:!fill-gray-100;
}

#root .suggestion .suggestion-img a {
  @apply w-1/5 lg:w-4/12 cursor-pointer mr-2;
}

#root .suggestion.active .suggestion-img path {
  @apply fill-[#0084d7];
}

#root .suggestion.active .suggestion-img a[href="Data silos"] path {
  @apply fill-[#ffffff];
}

#root .suggestion .suggestion-title {
  @apply w-full dark:text-gray-100;
}

#root .suggestion .suggestion-text {
  @apply px-2 flex items-center justify-between no-underline w-full text-base md:text-lg dark:text-gray-100;
}

#root .chat-container {
  @apply px-3 pb-5;
}

#root .chat-input {
  @apply w-full px-4 flex flex-row items-center justify-start
    rounded-lg bg-white border-[1px] border-[#4a4a4a] dark:border-[#a4a4a4] focus-within:outline focus-within:outline-offset-2
    focus-within:outline-1 focus-within:outline-[#0084d7] mt-2 lg:mt-4 dark:bg-gray-800;
}

#root .chat-input textarea.chat-textarea {
  @apply lg:mx-0 overflow-hidden resize-none w-full outline-none
    flex items-center justify-center h-12 my-4 dark:bg-gray-800 dark:text-white dark:border-gray-800 dark:placeholder-gray-300;
}

#root .chat-input button {
  @apply w-8 h-8 cursor-pointer flex;
}

#root .chat-input button svg path {
  @apply dark:!fill-gray-100;
}

#root .question-answer {
  @apply text-base lg:text-lg py-5 text-[#4a4a4a] dark:text-gray-200;
}

#root .final-report {
  @apply text-lg lg:text-xl py-5 px-4;
}

#root .final-report h1 {
  @apply text-black mb-4 dark:text-gray-100;
}

#root .final-report li {
  @apply mx-4 px-2 dark:text-gray-100;
}

#root .final-report h2 {
  @apply pt-2 dark:text-gray-100;
}

#root .final-report h2 ~ p {
  @apply pl-2 pt-2 dark:text-gray-100;
}

#root .final-report-download {
  @apply flex flex-row items-center justify-center md:justify-end pb-8;
}

#root .final-report-download svg {
  @apply w-8 h-8 mr-2 md:w-10 md:h-10;
}

#root .final-report-email svg {
  @apply mr-0;
}

#root .final-report-pdf,
.final-report-email,
.border-button {
  @apply flex flex-row items-center justify-center border border-[#4a4a4a] border-solid dark:border-gray-100 p-2;
}

.intro-button {
  @apply text-base lg:text-xl min-w-[170px];
}

#root .final-report-pdf a,
.final-report-email a {
  @apply text-base;
}

#root .final-report-email {
  @apply mx-4;
}

.final-report-message {
  @apply text-lg lg:text-xl w-full text-center;
}

#root .registration-alert-container {
  @apply w-full max-w-[1280px] mx-auto mt-5 mb-10;
}

#root .registration-alert-container {
  @apply px-5 lg:px-10;
}

#root .registration-alert-description {
  @apply text-lg;
}

#root .registration-alert-title {
  @apply text-xl font-bold;
}

#root .clarification {
  @apply flex flex-row justify-start w-full max-w-[1280px] mx-auto;
}

#root .clarification svg {
  @apply min-w-7 h-7 fill-[#0084d7] text-[#0084d7] mr-1;
}

#root .deactivated-icon svg {
  @apply !fill-gray-500 !text-gray-400;
}

#root .clarification-main,
#root .disclaimer {
  @apply px-3 pb-6 text-sm;
}

#root .clarification-main {
  @apply text-base md:text-lg w-full;
}

#root .clarification-main .markdown-body {
  @apply bg-white p-8 border-2 border-solid border-[#f6f6f6] text-[#4a4a4a] dark:bg-gray-800 dark:text-white dark:border-gray-800;
}

#root .clarification-main .markdown-body p,
#root .markdown-body p {
  @apply p-3 dark:text-gray-100;
}

#root .clarification-main .markdown-body li {
  @apply dark:text-gray-100;
}

#root .clarification-contract {
  @apply absolute right-4 top-3;
}

#root .clarification-contract svg {
  @apply w-5 h-5 cursor-pointer;
}

#root .clarification-main {
  @apply transition-all duration-500 ease-in-out;
}

#root .contracted .clarification-contract svg {
  @apply w-4 h-4;
}

#root .clarification-contract path {
  @apply dark:fill-gray-100 dark:text-gray-100;
}

#root .contracted {
  @apply h-[2.5rem] overflow-hidden bg-transparent dark:bg-transparent;
}

#root .expanded {
  @apply h-auto;
}

#root .contracted > .markdown-body {
  @apply border-none dark:border-none;
}

#root .expanded {
  max-height: initial;
}
