.node-extra-icon-container {
  @apply top-0.5 border p-1 border-[#4a4a4a] bg-white dark:bg-gray-800 dark:border-gray-800;
}

.node {
  width: 30px;
  height: 30px;
  background-color: #d9d9d9;
  color: #a6a6a6;
  border-radius: 50%;
  margin: 0 -2px;
  font-size: medium;
  display: flex;
  justify-content: center;
  align-items: center;
}

.node-container .node-break {
  flex-basis: 100%;
  background-color: white;
  height: 20px;
}

.node.active,
.connector.active {
  @apply bg-sky-500 !text-white;
}

.node.current {
  @apply bg-[#055D94] text-white;
}

.node.active.current {
  @apply text-white bg-green-500;
}

.node-icon.active.current {
  @apply dark:text-amber-500 text-amber-600;
}

.node-icon.active,
.connector.active {
  @apply dark:text-lime-500 text-lime-600;
}



.node a {
  @apply block w-full text-center text-white;
}

.connector {
  width: 18px;
  height: 18px;
  background-color: #ccc;
  display: none;
}

@media (min-width: 768px) {
  .connector {
    width: 50px;
    height: 20px;
    background-color: #ccc;
  }
}

@media (min-width: 1024px) {
  .node {
    width: 47px;
    height: 47px;
    font-size: large;
  }

  .connector {
    width: 100px;
    height: 20px;
    background-color: #ccc;
  }
}

.cd-breadcrumb li::after, .cd-multi-steps li::after {
  content: '↓';
  margin: 0 .6em;
  color: #959fa5;
}