.node-container {
  @apply flex flex-col justify-center items-center;
}

.node {
  @apply relative bg-[#e8e8e8] h-[55px] w-[16px] mb-[3px];
}

.node.active {
  @apply bg-[#539bd9] text-white cursor-pointer;
}

.node.active.current {
  @apply bg-[#4DC48D] text-white cursor-none;
}

.node.last-node svg {
  @apply w-8 h-8 fill-[#539bd9] bg-white relative left-1;
}

.node.last-node {
  @apply opacity-10;
}

.node-finished {
  @apply bg-[#0084d7];
}

.navigation-icon {
  @apply absolute top-[-22px] left-[-12px];
}

.navigation-icon > img {
  @apply max-w-none w-10 h-10;
}

.node-extra-icon-container {
  @apply border p-1 border-[#4a4a4a] bg-white dark:bg-gray-800 dark:border-gray-800;
}

.question-mark-icon {
  @apply inline-block;
}

.question-mark-icon .question-mark-icon-svg {
  @apply !w-8 !h-8 !fill-[#0084d7] dark:!fill-white relative top-1;
}

.hour-glass {
  @apply !w-8 !h-8;
}

/*.node {*/
/*  width: 30px;*/
/*  height: 30px;*/
/*  background-color: #d9d9d9;*/
/*  color: #a6a6a6;*/
/*  border-radius: 50%;*/
/*  margin: 0 -2px;*/
/*  font-size: medium;*/
/*  display: flex;*/
/*  justify-content: center;*/
/*  align-items: center;*/
/*}*/

/*.node-container .node-break {*/
/*  flex-basis: 100%;*/
/*  background-color: white;*/
/*  height: 20px;*/
/*}*/

/*.node.active,*/
/*.connector.active {*/
/*  @apply bg-[#0084d7] text-white;*/
/*}*/

/*.node.current {*/
/*  @apply bg-[#055D94] text-white;*/
/*}*/

/*.node.active.current {*/
/*  @apply bg-[#4DC48D] text-white;*/
/*}*/

/*.node a {*/
/*  @apply block w-full text-center;*/
/*}*/

.connector {
  width: 18px;
  height: 18px;
  background-color: #ccc;
  display: none;
}

@media (min-width: 768px) {
  .connector {
    width: 50px;
    height: 20px;
    background-color: #ccc;
  }
}

@media (min-width: 1024px) {
  .connector {
    width: 100px;
    height: 20px;
    background-color: #ccc;
  }
}
